@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.woff") format("woff"),
    url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Gilroy";
  font-size: 24px;
  color: #2b2e3e;
}

/* ----------------------------------- */
.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  min-height: 100%;

  background-color: #f0f3f9;
}

/* .wrapper:before {
  content: "";

  width: 895px;
  height: 885px;

  background-image: url("../img/get-started/frame-right.png");
  background-repeat: no-repeat;

  position: absolute;
  right: 150px;
  top: 0;
  z-index: 0;
} */

/* .wrapper:after {
  content: "";

  width: 992px;
  height: 885px;

  background-image: url("../img/get-started/frame-right.png");
  background-repeat: no-repeat;

  position: absolute;
  left: 10px;
  top: 0;
  z-index: 0;
} */

.main {
  flex: 1 1 auto;
}

/* header ---------------------------------- */

.header {
  margin: 10px 0 0 0;

  z-index: 1;
}

.header__container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 70px;
  align-items: center;

  background-color: #ffffff;
  border-radius: 15px;
}
.header__logo {
  flex: 1 1 auto;
  justify-content: flex-start;
  margin: 0 0 0 25px;
}

.header__phone {
  padding: 0 40px 0 0;

  font-size: 18px;
  font-weight: 700;
  color: #2b2e3e;
}

.header__button {
  flex: 0 0 190px;
  margin-right: 10px;
  padding: 16px 40px;

  font-family: "Gilroy";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;

  background-color: #009bff;
  border-radius: 5px;

  transition: background-color 0.3s ease 0s;
}
.header__buttonPhone {
  display: none;
}

.header__button:hover {
  background-color: #69c3ff;
  color: #009bff;
}

/* block-text -------------------------------------- */

.block-text__title {
  font-weight: 700;
  font-size: 68px;
  color: #2b2e3e;
}
.block-text__title_blue {
  color: #009bff;
}
.block-text__text {
  margin-top: 45px;
  margin-bottom: 70px;

  font-size: 24px;
  font-weight: 500;
}

/* get-started ---------------------------------- */

.get-started {
  position: relative;
  margin-bottom: 150px;
}

.get-started__container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;

  position: relative;
}
.get-started__content {
  flex: 0 1 60%;
  margin-top: 122px;

  position: relative;
  z-index: 2;
}

.get-started__offer {
  display: flex;
  align-items: center;
}

.get-started__button {
  padding: 15px 40px;

  font-size: 16px;
  font-weight: 700;
  color: #ffffff;

  border-radius: 5px;
  background-color: #009bff;
}

.get-started__button:hover {
  background-color: #69c3ff;
  color: #009bff;
}

.get-started__call-us {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  margin-left: 16px;
  padding: 13px 23px;

  background-color: #f4f6fb;
  border: 2px dashed #bfc9e0;

  border-radius: 5px;
}

.get-started__call-us span {
  margin-left: 10px;

  font-size: 16px;
  font-weight: 400;
}

.get-started__image {
  position: absolute;
  left: 480px;
  top: 70px;
  z-index: 1;
}

.get-started__image img {
  width: 1010px;
}

/* evolution-tech =================================================*/

.evolution-tech {
  max-width: 1840px;
  max-height: 910px;
  margin: 0 auto 20px;
  padding: 110px 0 186px 0;

  background-color: #ffffff;
  border-radius: 60px;
}
.evolution-tech__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader {
  display: flex;
}

.loader__image {
  margin-right: 100px;

  position: relative;
  z-index: 1;
}

.loader__image_front,
.loader__image_back {
  width: 278px;
}

.loader__image:last-child {
  margin-right: 0;
}

.loader__image button {
  border-radius: 50%;

  position: absolute;
  z-index: 6;
}

.loader__back_none {
  display: none;
}

#loader-transparent-id {
  width: 278px;
}

.loader__transparent_none {
  display: none;
}

.loader__housing {
  width: 278px;

  position: absolute;
  left: 0;
  z-index: 4;
}

.loader__btn_1 {
  top: 80px;
  left: 18px;
}

.loader__btn_2 {
  top: 315px;
  left: 50%;
  transform: translateX(-50%);
}

.loader__btn_3 {
  top: 8px;
  right: 61px;
}

.loader__btn_4 {
  bottom: 30px;
  left: 50px;
}

.loader__inf_none {
  display: none;
}

.loader__inf {
  padding: 25px 30px;

  background-color: #f3f5fb;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 5px;
  right: -250px;
}

.loader__inf::before {
  background-image: url("../img/evolution-tech/triangle.png");
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: url("");
  position: absolute;
  left: -13px;
  top: 10px;
  z-index: -1;
}

.loader__inf p {
  line-height: 1.2;
  font-weight: 600;
  font-size: 16px;
}

/* engine ================================================= */
.engine {
  max-width: 1840px;
  max-height: 910px;

  margin: 0 auto;
  padding: 190px 170px;

  background-color: #0090ed;
  border-radius: 60px;
}

.engine__container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;

  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.engine__content {
  text-align: left;
}

.engine__title {
  margin-bottom: 50px;

  font-weight: 700;
  color: #ffffff;
  font-size: 68px;
}

.engine__title span {
  opacity: 80%;
}

.engine__characteristics {
  padding-left: 23px;

  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.engine__characteristics li {
  margin-bottom: 40px;

  list-style: disc;
}

.engine__characteristics li p {
  display: inline-block;
}

.engine__characteristics li:last-child {
  margin-bottom: 0;
}

/* @media================================================================================= */

@media (min-width: 1921px) and (max-width: 2560px) {
  /* header  */
  .header {
    margin: 10px 0 0 0;

    z-index: 1;
  }

  .header__container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 70px;
    align-items: center;

    background-color: #ffffff;
    border-radius: 15px;
  }
  .header__logo {
    flex: 1 1 auto;
    justify-content: flex-start;
    margin: 0 0 0 25px;
  }

  .header__phone {
    padding: 0 40px 0 0;

    font-size: 18px;
    font-weight: 700;
    color: #2b2e3e;
  }

  .header__button {
    flex: 0 0 190px;
    margin-right: 10px;
    padding: 16px 40px;

    font-family: "Gilroy";
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;

    background-color: #009bff;
    border-radius: 5px;

    transition: background-color 0.3s ease 0s;
  }
  .header__buttonPhone {
    display: none;
  }

  .header__button:hover {
    background-color: #69c3ff;
    color: #009bff;
  }

  /* block-text  */

  .block-text__title {
    font-weight: 700;
    font-size: 68px;
    color: #2b2e3e;
  }
  .block-text__title_blue {
    color: #009bff;
  }
  .block-text__text {
    margin-top: 45px;
    margin-bottom: 70px;

    font-size: 24px;
    font-weight: 500;
  }

  /* get-started  */

  .get-started {
    margin-bottom: 270px;
  }

  .get-started__content {
    flex: 0 1 60%;
    margin-top: 220px;

    position: relative;
    z-index: 2;
  }

  .get-started__image {
    top: 160px;
  }

  .get-started__image img {
    width: 1010px;
  }

  /* evolution-tech */

  .evolution-tech {
    margin: 0 auto 40px;
    padding: 170px 0 246px 0;
  }
}

/* "media 1920 ------------------------------------------- */

@media (min-width: 1861px) and (max-width: 1920px) {
  /* header */
  .wrapper {
    z-index: -3;
  }
  .header {
    z-index: -2;
    transform: translate3d(0, var(--scrollTop), 0);
  }

  /* block-text */

  .block-text__title {
    font-weight: 700;
    font-size: 67px;
    color: #2b2e3e;
  }

  .block-text__text {
    margin-top: 45px;
    margin-bottom: 70px;

    font-size: 27px;
  }

  /* get-started */

  .get-started {
    margin-bottom: 150px;

    z-index: -2;
    transform: translate3d(0, var(--scrollTop), 0);
  }

  .get-started__content {
    margin-top: 152px;
  }

  .get-started__image {
    left: 490px;
    top: 110px;
    z-index: 1;
  }

  .get-started__image img {
    width: 970px;
  }

  /* evolution-tech */

  /* .evolution-tech_sliderBlock {
    transform: translate3d(0, var(--scrollTop), 0);
  } */

  .evolution-tech {
    max-height: 1070px;
    padding: 100px 0 166px 0;
  }

  .loader__image_front,
  .loader__image_back {
    width: 300px;
  }

  #loader-transparent-id {
    width: 300px;
  }

  .loader__housing {
    width: 300px;
  }

  /* engine */
  .engine {
    max-height: 1070px;

    padding: 180px 170px;
  }

  .engine__title {
    margin-bottom: 60px;

    font-size: 70px;
  }

  .engine__characteristics {
    font-size: 26px;
  }

  .engine__characteristics li {
    margin-bottom: 50px;
  }

  .engine__image img {
    width: 670px;
  }
}

/* @media (max-width: 1860px) {
} */

/* media 1366 ------------------------------------------- */

@media (max-width: 1366px) {
  .header {
    margin: 10px 0 0 0;

    z-index: 1;
  }

  .header__container {
    max-width: 1057px;
  }

  /* block-text */

  .block-text__title {
    font-size: 49px;
  }

  .block-text__text {
    margin-top: 20px;
    margin-bottom: 40px;

    font-size: 18px;
  }

  /* get-started  */

  .get-started {
    max-height: 300px;
    margin-bottom: 250px;
  }

  .get-started__container {
    max-width: 1057px;
  }
  .get-started__content {
    margin-top: 110px;
  }

  .get-started__button {
    padding: 12px 36px;

    font-size: 12px;
  }

  .get-started__call-us {
    margin-left: 16px;
    padding: 9px 19px;
  }

  .get-started__call-us span {
    font-size: 10px;
  }
  .get-started__image {
    left: 350px;
    top: 85px;
  }

  .get-started__image img {
    width: 750px;
  }

  /* evolution-tech */

  .evolution-tech {
    max-width: 1346px;
    max-height: 767px;
    margin: 0 auto 20px;
    padding: 90px 0 120px 0;
  }
  .evolution-tech__container {
    max-width: 1057px;
  }

  /* engine */
  .engine {
    max-width: 1346px;
    max-height: 767px;

    padding: 140px 120px;
  }

  .engine__container {
    max-width: 1057px;
  }

  .engine__title {
    margin-bottom: 40px;

    font-size: 50px;
  }

  .engine__characteristics {
    padding-left: 23px;

    font-size: 17px;
  }

  .engine__characteristics li {
    margin-bottom: 35px;
  }

  .engine__image img {
    width: 530px;
  }
}

/* media 768 --------------------------------- */

@media (max-width: 768px) {
  /* header  */
  .header {
    margin: 10px 0 0 0;

    z-index: 1;
  }

  .header__container {
    display: flex;
    max-width: 748px;
    margin: 0 auto;
    min-height: 70px;
  }

  .header__phone {
    padding: 0 40px 0 0;

    font-size: 18px;
    font-weight: 700;
    color: #2b2e3e;
  }

  .header__button {
    display: none;
  }

  .header__buttonPhone {
    display: inline-flex;
    flex: 0 0 45px;
    margin-right: 10px;
    padding: 12px;

    background-color: #c8ebff;
    border-radius: 5px;
  }

  .header__buttonPhone img {
    width: 23px;
  }

  /* block-text  */

  .block-text__title {
    font-size: 62px;
    line-height: 0.95;
  }

  .block-text__text {
    margin-top: 30px;
    margin-bottom: 40px;

    font-size: 30px;
    font-weight: 500;
  }

  /* get-started  */

  .get-started {
    max-height: 650px;
    margin-bottom: 250px;
  }

  .get-started__container {
    display: flex;
    flex-direction: column-reverse;

    max-width: 748px;
  }
  .get-started__content {
    flex: 1 1 auto;
    margin-top: 10px;
  }

  .get-started__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .get-started__button {
    width: 748px;
    min-height: 70px;
    margin-bottom: 10px;

    font-size: 25px;
  }

  .get-started__call-us {
    display: inline-flex;
    width: 748px;
    min-height: 70px;
    align-items: center;
    box-sizing: border-box;
    margin-left: 0;
    justify-content: center;
  }

  .get-started__call-us span {
    margin-left: 10px;

    font-size: 25px;
    font-weight: 400;
  }

  .get-started__image {
    padding-top: 20px;
    position: relative;
    left: -70px;
    top: 0;
    z-index: 1;
  }

  .get-started__image img {
    width: 650px;
  }

  /* evolution-tech */

  .evolution-tech {
    max-width: 758px;
    max-height: 1900px;
    margin: 0 auto 15px;
    padding: 50px 0 50px 0;

    border-radius: 15px;
  }

  .evolution-tech .block-text__text {
    display: inline-block;
    width: 400px;
    justify-content: center;
  }

  .evolution-tech__container {
    display: flex;
    flex-direction: column;
    max-width: 748px;
  }

  .loader {
    display: flex;
    flex-direction: column;
  }

  .loader__image {
    margin-bottom: 45px;
    margin-right: 0;
  }

  .loader__image_front,
  .loader__image_back {
    width: 450px;
  }

  .loader__image:last-child {
    margin-bottom: 0;
  }

  #loader-transparent-id {
    width: 450px;
    z-index: -3;
  }

  .loader__housing {
    width: 450px;

    position: absolute;
    left: 0;
    z-index: -3;
  }

  .loader__image button img {
    width: 50px;
  }

  .loader__btn_1 {
    top: 130px;
    left: 23px;
  }

  .loader__btn_2 {
    top: 510px;
    left: 50%;
    transform: translateX(-50%);
  }

  .loader__btn_3 {
    top: 10px;
    right: 100px;
  }

  .loader__btn_4 {
    bottom: 50px;
    left: 85px;
  }

  .loader__inf {
    padding: 25px 30px;

    background-color: #f3f5fb;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

    top: 90px;
    right: 100px;
  }

  .loader__inf::before {
    background-image: url("../img/evolution-tech/triangle.png");
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: url("");
    position: absolute;
    left: 195px;
    top: -13px;
    z-index: -1;

    transform: rotate(90deg);
  }

  /* engine */
  .engine {
    max-width: 758px;
    max-height: 1024px;
    padding: 50px 0;

    border-radius: 60px;
  }

  .engine__container {
    display: flex;
    flex-direction: column;
    max-width: 748px;
  }
  .engine__content {
    margin-bottom: 50px;

    text-align: center;
  }

  .engine__title {
    margin-bottom: 50px;

    font-weight: 700;
    color: #ffffff;
    font-size: 68px;
  }

  .engine__title span {
    opacity: 80%;
  }

  .engine__characteristics {
    text-align: left;

    font-size: 24px;
  }

  .engine__characteristics li {
    margin-bottom: 50px;

    list-style: disc;
  }

  .engine__image img {
    width: 500px;
  }
}

/* media 380 --------------------------*/

@media (max-width: 380px) {
  /* header  */
  .header {
    margin: 10px 0 0 0;
  }

  .header__container {
    max-width: 350px;
    min-height: 55px;
    border-radius: 10px;
  }

  .header__logo {
    justify-content: center;
  }

  .header__logo img {
    vertical-align: middle;
    width: 123px;
  }

  .header__phone {
    padding: 0 15px 0 0;

    font-size: 14px;
  }

  .header__buttonPhone {
    display: inline-flex;
    flex: 0 0 45px;
  }

  .header__buttonPhone img {
    width: 23px;
  }

  /* block-text  */

  .block-text {
  }

  .block-text__title {
    font-size: 28px;
    line-height: 1;
  }

  .block-text__text {
    margin-top: 15px;
    margin-bottom: 30px;

    font-size: 16px;
  }

  /* get-started  */

  .get-started {
    max-height: 350px;
    margin-bottom: 250px;
  }

  .get-started__container {
    max-width: 350px;
  }

  .get-started__content {
    flex: 1 1 auto;
    margin-top: 10px;
  }

  .get-started__button {
    width: 350px;
    min-height: 55px;
    margin-bottom: 10px;

    font-size: 14px;
  }

  .get-started__call-us {
    width: 350px;
    min-height: 55px;
    align-items: center;
    box-sizing: border-box;
    margin-left: 0;
    justify-content: center;
  }

  .get-started__call-us span {
    margin-left: 6px;

    font-size: 13px;
    font-weight: 400;
  }

  .get-started__image {
    padding-top: 20px;
    position: relative;
    left: -40px;
    top: 0;
    z-index: 1;
  }

  .get-started__image img {
    width: 400px;
  }

  /* evolution-tech */

  .evolution-tech {
    max-width: 370px;
    max-height: 1200px;
    margin: 0 auto 15px;
    padding: 50px 0 50px 0;

    border-radius: 15px;
  }

  .evolution-tech .block-text__title {
    display: inline-block;
    width: 350px;
    font-size: 30px;
  }

  .evolution-tech .block-text__text {
    width: 270px;
    font-size: 16px;
  }

  .evolution-tech__container {
    max-width: 350px;
  }

  .loader {
    display: flex;
    flex-direction: column;
  }

  .loader__image {
    margin-bottom: 45px;
    margin-right: 0;
  }

  .loader__image_front,
  .loader__image_back {
    width: 278px;
  }

  .loader__image:last-child {
    margin-bottom: 0;
  }

  #loader-transparent-id {
    width: 278px;
    z-index: -3;
  }

  .loader__housing {
    width: 278px;

    position: absolute;
    left: 0;
    z-index: -3;
  }

  .loader__image button img {
    width: 30px;
  }

  .loader__btn_1 {
    top: 80px;
    left: 18px;
  }

  .loader__btn_2 {
    top: 315px;
    left: 50%;
    transform: translateX(-50%);
  }

  .loader__btn_3 {
    top: 8px;
    right: 61px;
  }

  .loader__btn_4 {
    bottom: 30px;
    left: 50px;
  }

  .loader__inf {
    padding: 20px 25px;

    background-color: #f3f5fb;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

    top: 70px;
    right: 40px;
  }

  .loader__inf::before {
    background-image: url("../img/evolution-tech/triangle.png");
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: url("");
    position: absolute;
    left: 155px;
    top: -13px;
    z-index: -1;

    transform: rotate(90deg);
  }

  .loader__inf p {
    font-size: 14px;
  }

  /* engine */
  .engine {
    max-width: 370px;
    max-height: 705px;
    padding: 50px 0;

    border-radius: 15px;
  }

  .engine__container {
    max-width: 350px;
  }
  .engine__content {
    margin-bottom: 35px;
  }

  .engine__title {
    margin-bottom: 35px;

    font-size: 30px;
  }

  .engine__characteristics {
    font-size: 16px;
    line-height: 1.2;
  }

  .engine__characteristics li {
    margin-bottom: 15px;
  }

  .engine__image img {
    width: 300px;
  }
}
