:root {
  --color-boysenberry-shadow: #f0f3f9;
  --white: #ffffff;
 --boysenberry-shadow:#f0f3f9;
 --sky-of-magritte: #009bff;
 --skyan: #69c3ff;
 --hindsight: #bfc9e0;
 --white-solid: #f4f6fb;
 --cotton-ball: #f3f5fb;
 --pervenche: #0090ed;
 --lucid-dreams: #c8ebff;
}
